:root {
	--border-width: 0px;
	--border-color: none;
}

body,
html {
	padding: 0;
	margin: 0;
	/* overflow-y: hidden; */
	font-family: 'Uniwars';
	font-weight: 600;
}

.main {
	position: relative;
	width: 1920px;
	height: 1080px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: var(--dark);
	z-index: 0;
}

.main::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -10;
	background-image: url('gpmockup-chat.png');
	opacity: 0;
	filter: brightness(0.2);
}

.main::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -9;
	background-image: url('../_shared/assets/gameplay-background.png');
	mask-image: url('../_shared/assets/gameplay_mask.svg');
	opacity: 1;
}

.stage-container {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 44px;
	border-radius: 10px 0 10px 10px;
	background-color: var(--accent-yellow);
	background: linear-gradient(120deg, rgb(221, 163, 29) 0%, var(--accent-yellow) 20%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark);
}

.stage-container::before {
	content: '';
	width: 40px;
	height: 40px;
	border-radius: 24px 0 10px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--accent-yellow);
	transform: rotate(45deg) translateY(-11px) translateX(5px);
}

.stage-container::after {
	content: '';
	width: 112px;
	height: 24px;
	border-radius: 0 2px 8px 0;
	background-color: var(--accent-yellow);
	background: linear-gradient(60deg, var(--accent-yellow) 10%, rgb(221, 163, 29) 100%);
	position: absolute;
	top: 0;
	left: 100%;
}

.stage-name {
	z-index: 5;
	font-size: 28px;
	font-style: italic;
	padding: 0 12px;
	text-transform: uppercase;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 92px;
	background-image: url('../_shared/assets/logo.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 268px;
	height: 220px;
}

.gameplay-area {
	position: absolute;
	top: 44px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.gameplay-client {
	width: 715px;
	height: 430px;
	box-sizing: border-box;
	border: 1px solid var(--accent-yellow);
}

.gameplay-client:nth-child(2) {
	border-top: none;
}

.map-container {
	width: 312px;
	height: 124px;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
}

.map-header {
	background-color: var(--accent-yellow);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.map-slot {
	font-size: 35px;
	font-style: italic;
	padding-left: 5px;
	padding-top: 3px;
}

.map-title-container {
	font-family: 'Bahnschrift';
	font-weight: 400;
	font-variation-settings: "wdth" 60;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-right: 8px;
}

.map-title,
.map-diff {
	width: 190px;
	text-align: right;
	overflow: hidden;
}

.map-title span,
.map-diff span {
	display: inline-block;
	white-space: nowrap;
	will-change: transform;
}

.overflow {
	padding-left: 100%;
	animation: marquee 15s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

.map-diff {
	font-weight: 300;
	font-size: 14px;
	margin-top: -3px;
}

.map-stats-container {
	color: var(--light);
	font-weight: 500;
	font-size: 13px;
	display: flex;
	padding: 8px;
	align-items: center;
	flex: 1;
}

.map-stats-side {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.map-stats-item {
	display: flex;
	gap: 4px;
}

.footer {
	position: absolute;
	top: 932px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.team-container {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.team-container.blue {
	align-items: flex-end;
}

.team-name {
	font-size: 24px;
	font-weight: 400;
	color: var(--accent-yellow);
	padding: 6px 8px 4px 8px;
}

.team-name.red {
	border-left: 6px solid var(--accent-yellow);
}

.team-name.blue {
	border-right: 6px solid var(--accent-yellow);
}

.team-points {
	display: flex;
	gap: 17px;
}

.team-points.red {
	padding-left: 18px;
}

.team-points.blue {
	padding-right: 18px;
	flex-direction: row-reverse;
}

.team-point {
	width: 24px;
	aspect-ratio: 1;
	border-radius: 30px;
	border: 1px solid var(--accent-yellow);
}

.team-point.filled {
	background-color: var(--accent-yellow);
}

.chat-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 31px;
	width: 770px;
	height: 138px;
	background-color: var(--dark);
	border: 1px solid var(--accent-yellow);
	border-radius: 6px;
	opacity: 1;
	transition: opacity 300ms ease;
}

.chat-title {
	background-color: var(--accent-yellow);
	position: absolute;
	top: -4px;
	right: -1px;
	font-style: italic;
	font-size: 13px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 16px;
	padding-right: 8px;
	padding-left: 2px;
}

.chat-title::before {
	position: absolute;
	right: 100%;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 16px 8px;
	border-color: transparent transparent var(--accent-yellow) transparent;
}

.chat {
	padding: 6px 8px;
	height: calc(100% - 2 * 8px);
	overflow: hidden;
	display: flex;
	flex-direction: column-reverse;
	gap: 2px;
	font-family: 'Bahnschrift';
	font-weight: 400;
	font-variation-settings: "wdth" 60;
	font-size: 17px;
	line-height: 19px;
	color: var(--light);
}

.chat-message {
	display: flex;
	align-items: center;
	gap: 4px;
}

.chat-message:nth-of-type(n+7) {
	display: none;
}

.chat-name.left {
	color: var(--red-light);
}

.chat-name.right {
	color: var(--blue-light);
}

.chat-name.unknown {
	color: var(--accent-yellow);
}

.chat-name::after {
	content: ':';
}

.chat-time {
	display: flex;
	justify-content: center;
	width: 30px;
	min-width: 30px;
	text-align: center;
	color: var(--text-dark);
	transform: translateY(1px);
}

.score-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 84px;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	opacity: 0;
	transition: opacity 300ms ease;
}

.scores {
	display: flex;
	font-family: 'Inter';
	font-variant-numeric: tabular-nums;
	align-items: center;
	justify-content: center;
	color: var(--light);
}

.score {
	font-size: 40px;
	width: 300px;
	font-style: italic;
}

.score.red {
	text-align: right;
}

.score.blue {
	text-align: left;
}

.score.red.winning {
	color: var(--red-light);
}

.score.blue.winning {
	color: var(--blue-light);
}

.score-diff {
	font-size: 18px;
	width: 400px;
	text-align: center;
	font-weight: 500;
}

.lead-bar {
	position: absolute;
	top: 0;
	height: 8px;
	width: 0;
	background-color: var(--accent-yellow);
	left: calc(1920px / 2);
	transition: width 300ms ease;
}

.lead-bar.red {
	background-color: var(--red);
	left: unset;
	right: calc(1920px / 2);
}

.lead-bar.blue {
	background-color: var(--blue);
	left: calc(1920px / 2);
	right: unset;
}