@font-face {
    font-family: 'Mont';
    src: url('../_shared/fonts/Mont-SemiBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Mont';
    src: url('../_shared/fonts/Mont-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Din';
    src: url('../_shared/fonts/D-DIN.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Din';
    src: url('../_shared/fonts/D-DIN-Italic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Din';
    src: url('../_shared/fonts/D-DIN-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../_shared/fonts/NotoSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../_shared/fonts/NotoSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../_shared/fonts/NotoSans-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Uniwars';
    src: url('../_shared/fonts/Uniwars-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../_shared/fonts/Bahnschrift.ttf');
}

:root {
    --accent-blue: #191de7;
    --accent-yellow: #f8ea00;
    --dark: #272626;
    --black: #0e0d0c;
    --light: #fcfcfc;
    --light-text: #fcfcfc;
    --accent-mod-nm: #fcfcfc;
    --accent-mod-hd: #faf163;
    --accent-mod-hr: #fa7063;
    --accent-mod-dt: #5255dd;
    --red: #e96479;
    --blue: #60a6f7;
    --red-chat: #f89c9b;
    --blue-chat: #96c4f8;
    --unknown-chat: #bbb2ce;
}