@font-face {
    font-family: 'Uniwars';
    src: url('../_shared/fonts/Uniwars-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Uniwars';
    src: url('../_shared/fonts/Uniwars-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Uniwars';
    src: url('../_shared/fonts/Uniwars-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../_shared/fonts/Bahnschrift.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../_shared/fonts/Inter_24pt-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../_shared/fonts/Inter_24pt-SemiBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../_shared/fonts/Inter_24pt-ExtraBold.ttf');
    font-weight: 800;
}

:root {
    --accent-blue: #191de7;
    --accent-yellow: #f8ea00;
    --dark: #272626;
    --black: #0e0d0c;
    --light: #fcfcfc;
    --light-text: #fcfcfc;
    --accent-mod-nm: #fcfcfc;
    --accent-mod-hd: #faf163;
    --accent-mod-hr: #fa7063;
    --accent-mod-dt: #5255dd;
    --accent-mod-fm: #95dd52;
    --red: #ff7f02;
    --blue: #191de7;
    --red-light: #faa363;
    --blue-light: #5255dd;
}