body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	font-family: 'Uniwars';
	font-weight: 400;
}

.main {
	position: relative;
	width: 1920px;
	height: 1080px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--light);
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    background-image: url('teamwin-mockup.png');
    opacity: 0;
    filter: brightness(0.2);
}

.main::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
    background-image: url('../_shared/assets/win-background.png');
    opacity: 1;
}

.stage-container {
	position: absolute;
	bottom: 98.5px;
	right: 103px;
	color: var(--accent-yellow);
	font-size: 18px;
}

.stage-container::before {
	content: '[';
}

.stage-container::after {
	content: ']';
}

.match-winner {
	font-size: 68px;
	font-weight: 600;
	font-style: italic;
	color: var(--accent-yellow);
	margin-bottom: 16px;
}

.team-name {
	font-size: 72px;
}

.team-players {
	margin-top: 56px;
	font-size: 24px;
	display: flex;
	gap: 80px;
	margin-bottom: 12px;
}

.match-score {
	position: absolute;
	bottom: 200px;
	font-size: 68px;
}
